{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:{% if book.genre.count == 1 %}
            {% for genre in book.genre.all %}
            <span style="color: red">{{ genre.name }}</span>
            {% endfor %}
        {% elif book.genre.count == 2 %}
            {% for genre in book.genre.all %}
                <span style="color: green">{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% else %}
            {% for genre in book.genre.all %}
                <span style="color: aqua">{{ genre.name }}</span>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        {% endif %}
  </p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}
